<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!--根节点-->
    <properties resource="jdbc.properties"/>
    <!--typeAliases别名处理器 为我们的Java类型进行别名命名-->
    <typeAliases>
        <!--typeAliase为一个类型起别名
        type ,要起别名的类型 默认小写
        alias新的别民
        -->
        <!--   <typeAlias type="MyBatisTest.Student1" alias="stu"></typeAlias>-->
        <!--批量起别名 package 为某个包下起别名 name 指定包名-->
        <package name="MyBatisTest"/>
    </typeAliases>
    <!--environments可以配置多种环境  environment配置具体环境
    id代表当前环境的唯一标识 default指定某种环境，做到快速切换环境
    -->
    <environments default="development">
        <environment id="development">
            <!--    driver=com.mysql.cj.jdbc.Driver
                    url=jdbc:mysql://localhost:3306/stu
                    name=root
                    password=root-->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED"><!--数据源-->
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${name}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--databaseIdProvider可以支持多数据库厂商
    type="DB_VENOOR得到数据库厂商的标识执行不同的sql
    -->
    <databaseIdProvider type="DB_VENDOR">
        <!--为不同的数据库厂商起别名
          这时需要在mapper文件中进行配置-->
        <property name="MySQL" value="mysql"/>
    </databaseIdProvider>
    <!--定义映射文件mapper文件
    将sql映射注册到全局配置当中
    -->
    <mappers>
        <mapper resource="MyBatisTest/StudentMapper.xml"/><!--引用类路径下的映射文件-->
        <!-- <mapper url=""></mapper>  url
        引用磁盘路径下的路径
        class直接引用接口 注册接口
        1.必须有sql映射文件 必须与接口同名 并且放在接口同一目录下
        2 没有sql映射 所有sql都是注解
        -->
        <mapper class="MyBatisTest.Student1MapperAnno"></mapper>
        <!--批量注册 mapper 和接口在一个包-->
        <!-- <package name=""/>-->
    </mappers>
</configuration>

